application_files/datatype/%7Burn%3Acom%3Aappian%3Atypes%3AMMVA%7DMMVA_APP_MAIL_POLLER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:MMVA"
  xmlns:tns="urn:com:appian:types:MMVA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="MMVA_APP_MAIL_POLLER">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="APP_MAIL_POLLER")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000ed94-d2ed-8000-4ea4-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000ed94-d2ed-8000-4ea4-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="appMailPollerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="APP_MAIL_POLLER_ID", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fromEmail" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FROM_EMAIL", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fromName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FROM_NAME", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="subject" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SUBJECT", columnDefinition="VARCHAR(700)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="toEmails" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TO_EMAILS", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="toNames" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TO_NAMES", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ccEmails" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CC_EMAILS", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ccNames" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CC_NAMES", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bccEmails" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BCC_EMAILS", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bccNames" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BCC_NAMES", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inReplyTo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IN_REPLY_TO", columnDefinition="TEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="messageId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MESSAGE_ID", unique=true, columnDefinition="VARCHAR(500)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="messageGraphId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MESSAGE_GRAPH_ID", columnDefinition="VARCHAR(500)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="importance" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IMPORTANCE", columnDefinition="VARCHAR(32)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STATUS", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bodyText" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BODY_TEXT", columnDefinition="LONGTEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bodyHtml" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BODY_HTML", columnDefinition="LONGTEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bodySwappedImages" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BODY_SWAPPED_IMAGES", columnDefinition="LONGTEXT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOC_ID", columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docIdNoAtt" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOC_ID_NO_ATT", columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="receivedDate" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECEIVED_DATE", columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sysDate" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SYS_DATE", columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
